
    
  @media (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 1.8),
  (max-width: 1080px) and (min-resolution: 1.8dppx) {

    .btn {

      padding: 12px 20px;
      font-size: 16px;
      border-radius: 8px;
      width: 100%;
      min-height: 150px;
      font-size: 40px;
      border-radius: 30px;
    }

    fieldset {
      border-radius: 30px;
      gap: 40px;
    }

    #logoAnimado{
      background-color:none;
      width: 100%;
      height: 200px;
      margin-top: 60px;
    }


    body {
      font-size: 40px;
    }

    .titulo {
      min-height: 100px;
      margin-top: 0px;
    }

    input {
      min-height: 100px;
      font-size: 40px;
      text-align: left;
      border-radius: 30px;
      text-align: center;
    }

    select {
      min-height: 100px;
      font-size: 40px;
      text-align: left;
      border-radius: 30px;
      text-align: center;
    }

    input[name="fechaOperacion"] {
      text-align: center;
    }


    input[type="date"] {
      text-align: center;
      text-align-last: center;
      direction: ltr;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    .BotonNuevoCliente {
      min-width: 60%;
      min-height: 150px;
      
    }


  }
